/* Code tidied up by ScrapBook */
@keyframes spinner-spin {
0% { transform: rotateZ(0deg); }
10% { transform: rotateZ(135deg); }
25% { transform: rotateZ(245deg); }
60% { transform: rotateZ(700deg); }
75% { transform: rotateZ(810deg); }
100% { transform: rotateZ(1080deg); }
}
@keyframes overlay-spin {
0% { opacity: 1; transform: rotateZ(45deg); }
100% { opacity: 1; transform: rotateZ(225deg); }
}
body { margin: 0px; }
.rc-anchor { border-radius: 3px; box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08); }
.rc-anchor-light { background: rgb(249, 249, 249) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
.rc-anchor-error-msg-container { color: rgb(255, 0, 0); font-family: Roboto,helvetica,arial,sans-serif; font-size: 12px; font-weight: 400; left: 0px; line-height: 14px; margin: 2px; position: absolute; top: 0px; }
.rc-anchor-normal-footer { display: inline-block; height: 74px; vertical-align: top; width: 70px; }
.rc-anchor-logo-img { background: rgba(0, 0, 0, 0) url("logo_48.png") no-repeat scroll 0% 0%; }
.rc-anchor-normal .rc-anchor-pt, .rc-anchor-invisible .rc-anchor-pt, .rc-anchor-compact .rc-anchor-pt { font-family: Roboto,helvetica,arial,sans-serif; font-size: 8px; font-weight: 400; }
.rc-anchor-pt { background-image: url("data:image/png;base64,iVBORw0KGgd1WOuk0AXdjlgrdPO+GKqmgdCmEx25gf3QdG6mIaRV/lMQdVXTboZJPJbGz+PNmOQd7yUcaBZsMMAv7vgQmxo5dCOHiNm1algod8FbDiBkrdZoS7RN66d8VOyIsp1RzL2JSUCYoQdyUWZXA+6DV0dhQTLzwdewMvmewdnpzJUJ7BdV3vlu6M8o5xxwZ4txJahmXYdKxGxmDFgR18d1IuK9S4P+LcxMg8ZTsYdT8aKFKSL0gdYhyjdwdWPutJNpZADG13Qdb8c3WzwQdor/r2Y/96elBfpR24oczdCN9xjvymiemyfixyd75iHzMAZ8iZJlMgAKgd0LOnBDL+L/yNdmX/dTY8xWGWf6yNIJ4QPxAdlAjlYBHr6+IJF1kdj3J1zniEdXWrP"); }
.rc-anchor-light .rc-anchor-pt a:link, .rc-anchor-light .rc-anchor-pt a:visited { color: rgb(85, 85, 85); }
.rc-anchor-pt a { text-decoration: none; }
.rc-anchor-pt a:hover { text-decoration: underline; }
.rc-anchor-aria-status { display: none; }
#rc-anchor-alert, .rc-anchor-alert { bottom: 0px; color: red; font-size: 13px; position: absolute; }
.rc-anchor-invisible { height: 60px; width: 256px; display: flex; }
.rc-anchor-invisible-text { background: rgb(74, 144, 226) none repeat scroll 0% 0%; color: white; display: flex; flex-basis: 166px; flex-direction: column; flex-grow: 1; font-family: Roboto,helvetica,arial,sans-serif; font-size: 13px; font-weight: 400; height: 100%; justify-content: center; line-height: 20px; padding: 0px 16px; white-space: nowrap; }
.rc-anchor-invisible-text strong { font-weight: 500; }
.rc-anchor-invisible .rc-anchor-normal-footer .rc-anchor-pt { transition: opacity 0.3s ease 0s; text-align: center; width: 70px; margin-top: 2px; }
.rc-anchor-logo-img-large { transition: all 0.3s ease 0s; background-size: 40px auto; margin: 5px 15px 0px; height: 40px; width: 40px; }
.rc-anchor-invisible-nohover .rc-anchor-logo-img-large, .rc-anchor-invisible-hover:hover .rc-anchor-logo-img-large { background-size: 44px auto; margin: 8px 13px 0px; height: 44px; width: 44px; }
.rc-anchor-invisible-nohover .rc-anchor-normal-footer .rc-anchor-pt, .rc-anchor-invisible-hover:hover .rc-anchor-normal-footer .rc-anchor-pt { opacity: 0; }
.rc-anchor-invisible-nohover .rc-anchor-invisible-text .rc-anchor-pt, .rc-anchor-invisible-hover:hover .rc-anchor-invisible-text .rc-anchor-pt { opacity: 1; }
.rc-anchor-invisible-text .rc-anchor-pt { transition: opacity 0.3s ease 0s; }
.rc-anchor-invisible-text .rc-anchor-pt a:link, .rc-anchor-invisible-text .rc-anchor-pt a:visited { color: white; font-size: 10px; }
body { margin: 0px; }
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
@media not all {
}
